body {
	margin: 0px;
	padding: 0px;
	background-color: black;
	color: #eee;
}

h1.tk-olidia {
	font-weight: normal;
	font-size: 90px;
	z-index: 1000;	

	position: fixed;
	top: 30px;
	left: 150px;
}

#rainbox {
	width: 100%;
	height: 375px;
	
	margin: 100px auto 0px auto;
	background-color: white;
	overflow: hidden;
	position: relative;
}

div.cell {
	width: 75px;
	height: 75px;
	position: absolute;
}

#spectra {
	width: 1080;
	margin: 0px auto;
}

#spectra div {
	width: 15px;
	float: left;
	cursor: pointer;
}